:root {
    --primary: #a855f7; /* Яскравий фіолетовий */
    --primary-glow: rgba(168, 85, 247, 0.4);
    --bg: #050505;
    --card-bg: #0d0d0d;
    --border: #1a1025; /* Темно-фіолетовий кордон */
}

body {
    background-color: var(--bg);
    color: #e2e2e2;
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    text-transform: uppercase;
}

/* Навігація */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    background: linear-gradient(to bottom, #0f001a, #050505);
    border-bottom: 1px solid var(--border);
    align-items: center;
}

.logo { font-family: 'Orbitron'; font-size: 1.5rem; letter-spacing: 3px; color: #fff; }
.logo span { color: var(--primary); text-shadow: 0 0 10px var(--primary); }

.search-box input {
    background: #110a18;
    border: 1px solid var(--border);
    padding: 10px 20px;
    color: var(--primary);
    width: 300px;
    outline: none;
    transition: 0.3s;
}

.search-box input:focus {
    border-color: var(--primary);
    box-shadow: 0 0 10px var(--primary-glow);
}

/* Кнопки фільтрів */
.btn {
    background: #110a18;
    border: 1px solid var(--border);
    color: #888;
    padding: 10px 25px;
    cursor: pointer;
    font-family: 'Orbitron';
    font-size: 0.75rem;
    transition: 0.3s;
}

.btn:hover, .btn.active {
    color: #fff;
    border-color: var(--primary);
    box-shadow: 0 0 15px var(--primary-glow);
}

/* Сітка та Картки */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 40px 5%;
}

.card {
    background: var(--card-bg);
    border: 1px solid var(--border);
    border-left: 4px solid var(--primary);
    padding: 30px;
    position: relative;
    transition: 0.4s ease;
}

.card:hover {
    transform: translateY(-8px);
    border-color: var(--primary);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.9), 0 0 20px rgba(168, 85, 247, 0.2);
}

.card-num {
    color: var(--primary);
    font-family: 'Orbitron';
    font-size: 0.8rem;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.card-title {
    font-family: 'Orbitron';
    font-size: 1.4rem;
    color: #fff;
    margin-bottom: 10px;
}

.card-desc {
    color: #94a3b8;
    font-size: 0.9rem;
    text-transform: none;
    line-height: 1.6;
}

.card-footer {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    color: #4b2c6d;
}
